<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Admin")">
    <div class="sidebar-brand-icon">
        <i class="fas fa-question-circle"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Soru Cevap <sup>Admin</sup></div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="@Url.Action("Index", "Admin")">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    İçerik Yönetimi
</div>

<!-- Nav Item - Questions -->
<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Questions", "Admin")">
        <i class="fas fa-fw fa-question"></i>
        <span>Sorular</span>
    </a>
</li>

<!-- Nav Item - Answers -->
<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Answers", "Admin")">
        <i class="fas fa-fw fa-comments"></i>
        <span>Cevaplar</span>
    </a>
</li>





